version: "3.8"
services:
  nextcloud:
    image: ghcr.io/linuxserver/nextcloud:latest
    container_name: nextcloud
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Oslo
    volumes:
      - /opt/appdata/nextcloud:/config
      - /opt/appdata/nextcloud-apps:/app/www/public/customapps
      - /mnt/nextcloud:/data
    ports:
      - 4443:443
    restart: unless-stopped
    labels:
      - "traefik.http.routers.adminer-secure.middlewares=authelia@docker"
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 2G
networks:
  default:
    name: homelab
    external: true
