version: "3.3"
services:
  delugevpn:
    cap_add:
      - NET_ADMIN
    ports:
      - 8112:8112
      - 8118:8118
      - 9118:9118
      - 58846:58846
      - 58946:58946
      - 58946:58946/udp
    container_name: delugevpn
    volumes:
      - /mnt/array/downloads:/downloads
      - /mnt/fast/appdata/delugevpn:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
      - VPN_ENABLED=yes
      - VPN_USER=${PIA_USER}
      - VPN_PASS=${PIA_PASSWORD}
      - VPN_PROV=pia
      - VPN_CLIENT=openvpn
      - ENABLE_STARTUP_SCRIPTS=no
      - ENABLE_PRIVOXY=yes
      - STRICT_PORT_FORWARD=yes
      - USERSPACE_WIREGUARD=no
      - ENABLE_SOCKS=yes
      - SOCKS_USER=admin
      - SOCKS_PASS=socks
      - LAN_NETWORK=192.168.30.0/24
      - NAME_SERVERS=84.200.69.80,37.235.1.174,1.1.1.1,37.235.1.177,84.200.70.40,1.0.0.1
      - DELUGE_DAEMON_LOG_LEVEL=info
      - DELUGE_WEB_LOG_LEVEL=info
      - DELUGE_ENABLE_WEBUI_PASSWORD=yes
      - VPN_INPUT_PORTS=1234
      - VPN_OUTPUT_PORTS=5678
      - DEBUG=false
      - UMASK=000
      - PUID=0
      - PGID=0
      - UID=1000
      - GID=1000
    image: binhex/arch-delugevpn
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.deluge.entrypoints=web"
      - "traefik.http.routers.deluge.rule=Host(`deluge.${DOMAIN_NAME}`)"
      - "traefik.http.routers.deluge-secure.tls=true"
      - "traefik.http.routers.deluge-secure.entrypoints=websecure"
      - "traefik.http.routers.deluge-secure.rule=Host(`deluge.${DOMAIN_NAME}`)"
    networks:
      - backend
  docker-nzbgetvpn:
    cap_add:
      - NET_ADMIN
    ports:
      - 6789:6789
    container_name: nzbgetvpn
    volumes:
      - /mnt/array/downloads:/downloads
      - /mnt/fast/appdata/nzbgetvpn:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      - NZBGET_URI=${NZBGET_URI}
      - VPN_ENABLED=yes
      - VPN_USER=${PIA_USER}
      - VPN_PASS=${PIA_PASSWORD}
      - VPN_PROV=pia
      - VPN_CLIENT=openvpn
      - STRICT_PORT_FORWARD=no
      - ENABLE_PRIVOXY=yes
      - LAN_NETWORK=192.168.30.0/24
      - NAME_SERVERS=1.1.1.1,209.222.18.222,8.8.8.8,84.200.69.80,37.235.1.174,209.222.18.218,37.235.1.177,84.200.70.40,1.0.0.1,8.8.4.4,208.67.220.220,208.67.222.222
      - ADDITIONAL_PORTS=1234
      - DEBUG=false
      - UMASK=000
      - PUID=0
      - PGID=0
      - UID=1000
      - GID=1000
    image: jshridha/docker-nzbgetvpn:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nzbget.entrypoints=web"
      - "traefik.http.routers.nzbget.rule=Host(`nzbget.${DOMAIN_NAME}`)"
      - "traefik.http.routers.nzbget-secure.tls=true"
      - "traefik.http.routers.nzbget-secure.entrypoints=websecure"
      - "traefik.http.routers.nzbget-secure.rule=Host(`nzbget.${DOMAIN_NAME}`)"
    networks:
      - backend
    restart: unless-stopped
networks:
  backend:
    external: true
