version: "3.8"
services:
  db-pg:
    container_name: db-pg
    image: postgres:18.1-alpine
    restart: always
    ports:
      - 5432:5432
    # set shared memory limit when using docker-compose
    # shm_size: 2048mb
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 2G
    # or set shared memory limit when deploy via swarm stack
    volumes:
      #  - type: tmpfs
      #    target: /dev/shm
      #    tmpfs:
      #      size: 134217728 # 128*2^20 bytes = 128Mb
      - /mnt/fast/databases/postgres:/var/lib/postgresql/data
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_PASSWORD: ${DB_PASSWORD}

  db-ts:
    container_name: db-ts
    image: timescale/timescaledb-ha:pg17
    restart: unless-stopped
    # shm_size: 2048mb
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 2G
    environment:
      POSTGRES_DB: defaultdb
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    # ports:
    #   - "5434:5432"
    volumes:
      - /mnt/fast/databases/timescale:/var/lib/postgresql/data

  db-adminer:
    container_name: db-adminer
    image: adminer
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
    ports:
      - 3080:8080
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adminer.entrypoints=web"
      - "traefik.http.routers.adminer.rule=Host(`adminer.${DOMAIN_NAME}`)"
      - "traefik.http.routers.adminer-secure.tls=true"
      - "traefik.http.routers.adminer-secure.entrypoints=websecure"
      - "traefik.http.routers.adminer-secure.rule=Host(`adminer.${DOMAIN_NAME}`)"

networks:
  default:
    name: backend
    external: true
