version: "3.8"
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: 568:568
    group_add:
      - "107"
      - "44"
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ports:
      - 8096:8096/tcp
      # - 7359:7359/udp
    volumes:
      - /mnt/fast/appdata/jellyfin/config:/config
      - /mnt/fast/appdata/jellyfin/cache:/cache
      - /mnt/array/media/series:/series
      - /mnt/array/media/movies:/movies
      # Optional - extra fonts to be used during transcoding with subtitle burn-in
      # - type: bind
      #   source: /path/to/fonts
      #   target: /usr/local/share/fonts/custom
      #   read_only: true
    restart: "unless-stopped"
    networks:
      - frontend
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=https://jellyfin.${DOMAIN_NAME}
      - TZ=Europe/Oslo
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.entrypoints=web"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.${DOMAIN_NAME}`)"
      - "traefik.http.routers.jellyfin-secure.tls=true"
      - "traefik.http.routers.jellyfin-secure.entrypoints=websecure"
      - "traefik.http.routers.jellyfin-secure.rule=Host(`jellyfin.${DOMAIN_NAME}`)"
  # Plex media streaming platform
  # plex:
  #   image: ghcr.io/linuxserver/plex:latest
  #   container_name: plex
  #   network_mode: host
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Europe/Oslo
  #     - VERSION=docker
  #     - NVIDIA_DRIVER_CAPABILITIES=all
  #     - NVIDIA_VISIBLE_DEVICES==compute,video,utility
  #   volumes:
  #     - /mnt/fast/appdata/plex:/config
  #     # - /mnt/fast/appdata/plex-transcode:/transcode
  #     - /mnt/array/media/series:/tv
  #     - /mnt/array/media/movies:/movies
  #   runtime: nvidia
  #   deploy:
  #     resources:
  #       # limits:
  #       #   cpus: '8.0'
  #       reservations:
  #         devices:
  #           - driver: nvidia
  #             count: all
  #             capabilities:
  #               - gpu
  #   restart: unless-stopped
  # Stats for plex
  # tautulli:
  #   image: ghcr.io/linuxserver/tautulli:latest
  #   container_name: tautulli
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Europe/Oslo
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.tautulli.entrypoints=web"
  #     - "traefik.http.routers.tautulli.rule=Host(`tautulli.${DOMAIN_NAME}`)"
  #     - "traefik.http.routers.tautulli-secure.tls=true"
  #     - "traefik.http.routers.tautulli-secure.entrypoints=websecure"
  #     - "traefik.http.routers.tautulli-secure.rule=Host(`tautulli.${DOMAIN_NAME}`)"
  #   volumes:
  #     - /mnt/fast/appdata/tautulli:/config
  #   ports:
  #     - 8181:8181
  #   networks:
  #     - backend
  #   restart: unless-stopped
networks:
  backend:
    external: true
  frontend:
    external: true
