services:
  # Backend Application
  backend:
    image: zevome/smarter-home-api:latest
    container_name: sm-api
    restart: unless-stopped
    ports:
      - ${BACKEND_PORT}:${BACKEND_PORT}
    environment:
      DATABASE_URL: ${DATABASE_URL}
      BACKEND_PORT: ${BACKEND_PORT}
      FRONTEND_PORT: ${FRONTEND_PORT}
      AUTH_SECRET: ${AUTH_SECRET}
      LOG_LEVEL: debug
    networks:
      - frontend
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sm-api.entrypoints=web"
      - "traefik.http.routers.sm-api.rule=Host(`sm-api.${DOMAIN_NAME}`)"
      - "traefik.http.routers.sm-api-secure.tls=true"
      - "traefik.http.routers.sm-api-secure.entrypoints=websecure"
      - "traefik.http.routers.sm-api-secure.rule=Host(`sm-api.${DOMAIN_NAME}`)"
networks:
  backend:
    external: true
  frontend:
    external: true
