services:
  # Backend Application
  sm-api:
    image: zevome/smarter-home-api:latest
    container_name: sm-api
    restart: unless-stopped
    ports:
      - ${BACKEND_PORT}:3001
    environment:
      DATABASE_URL: ${DATABASE_URL}
      BACKEND_PORT: 3001
      FRONTEND_PORT: ${FRONTEND_PORT}
      AUTH_SECRET: ${AUTH_SECRET}
      JWT_SECRET: ${AUTH_SECRET}
      LOG_LEVEL: ${LOG_LEVEL}
    networks:
      - frontend
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.smapi.entrypoints=web"
      - "traefik.http.routers.smapi.rule=Host(`sm-api.${DOMAIN_NAME}`)"
      - "traefik.http.routers.smapi-secure.tls=true"
      - "traefik.http.routers.smapi-secure.entrypoints=websecure"
      - "traefik.http.routers.smapi-secure.rule=Host(`sm-api.${DOMAIN_NAME}`)"
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 2G
networks:
  backend:
    external: true
  frontend:
    external: true
